aiofiles==23.1.0
aiogram==3.1.1
aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.11.17
charset-normalizer==3.3.2
dataclasses-json==0.6.3
Django==4.2.7
frozenlist==1.4.0
gigachain==0.0.343
gigachain-core==0.0.11
gigachat==0.1.9
greenlet==3.0.2
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
jsonpatch==1.33
jsonpointer==2.4
langchain==0.0.348
langchain-core==0.0.12
langcodes==3.3.0
langsmith==0.0.69
language-data==1.1
magic-filter==1.0.12
marisa-trie==0.7.8
marshmallow==3.20.1
multidict==6.0.4
mypy-extensions==1.0.0
numpy==1.26.2
packaging==23.2
pydantic==2.3.0
pydantic_core==2.6.3
PyPDF2==3.0.1
PyYAML==6.0.1
redis==5.0.1
requests==2.31.0
sniffio==1.3.0
SQLAlchemy==2.0.23
sqlparse==0.4.4
tenacity==8.2.3
typing-inspect==0.9.0
typing_extensions==4.7.1
urllib3==2.1.0
yarl==1.9.4